<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->
  </head>
  <body>
    hello
<!--
    <svg id="my_dataviz" width="400" height="300"></svg>

    <script src="static/js/map.js">

      mapcreate();
    </script> -->

    <!-- DEMO ONLY -->
    <style>
      #slate { border: 1px solid black }
    </style>
  
    <h2> demo</h2>
  
    <div>
      <canvas height="600" width="600"
              id="slate">
        dis dat alt txt tho
      </canvas>
    </div>
  
    <button id="buttonToggle">rect|circ</button>
    <button id="buttonClear">wipe</button>
  

    
    <!-- DEMO ONLY END -->


  </body>
  <script src="static/js/map.js"></script>
</html>
