<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title> Trends </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          async function getLineData() {
            try {
              await fetch('/decade_data')
                .then(response => response.text()) // Parse the response body as text
                .then(data => {
                  crashes_by_decade = JSON.parse(data); // arr object
                  console.log(crashes_by_decade)
                  return crashes_by_decade
                });
            } catch {
              console.log("Data not present");
            }
          }
          
    
          function drawChart() {
            
            var chart_data = google.visualization.arrayToDataTable( [['Decade', 'Crashes'], [1910, 33], [1920, 182], [1930, 357], [1940, 578], [1950, 649], [1960, 636], [1970, 612], [1980, 552], [1990, 631], [2000, 506], [2010, 231]] );
    
            var options = {
              title: 'Crashes by Decade',
              curveType: 'function',
              legend: { position: 'bottom' },
              axisTitlesPosition:'out' ,
              vAxis: { title: 'Number of Crashes' },
              hAxis: {
                title: 'Decade',
                format: '####'
              }
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    
            chart.draw(chart_data, options);
          }
        </script>
        <script type = "text/javascript">
          google.charts.load('current', {packages: ['table']});     
        </script>
      </head>
      <body>
        <div id="curve_chart" style="width: 900px; height: 500px"></div>

        <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
        </div>
        <script language = "JavaScript">
            async function getFatalitiesData() {
              try {
                await fetch('/fatalities_data')
                  .then(response => response.text()) // Parse the response body as text
                  .then(data => {
                    fatalities = JSON.parse(data); // arr object
                    console.log(fatalities)
                    return fatalities
                  });
              } catch {
                console.log("Data not present");
              }
            }

           function drawChart() {
              // Define the chart to be drawn.
              var data = new google.visualization.DataTable();
              data.addColumn('number', 'ID');
              data.addColumn('string', 'Date');
              data.addColumn('number', 'Fatalities');
              data.addRows( getFatalitiesData() );
  
              var options = {
                 showRowNumber: true,
                 width: '100%', 
                 height: '100%'
              };
                    
              // Instantiate and draw the chart.
              var chart = new google.visualization.Table(document.getElementById('container'));
              chart.draw(data, options);
           }
           google.charts.setOnLoadCallback(drawChart);
        </script>
      </body>


</html>